# Juan Carlos Frausto Arias

In [1]:
!pip install xlsxwriter
import xlsxwriter
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd 
import numpy as np

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.3 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3
Mounted at /content/drive

In [2]:
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/Test.csv')
test2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/Test2.csv')
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/Train.csv')
train2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/Train2.csv')

In [ ]:
test

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [ ]:
test2

,Employee_ID,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_19108,Windows,10,2,Android,8.0,0
1,EID_13997,Windows,10,12,Android,10.0,1
2,EID_10789,MacOS,Catalina,0,iOS,12.0,0
3,EID_1833,Windows,10,9,Android,7.0,0
4,EID_8825,Windows,8,3,Android,9.0,2
...,...,...,...,...,...,...,...
2995,EID_20453,Windows,10,4,Android,7.0,2
2996,EID_18205,Windows,8,8,Android,9.0,5
2997,EID_19849,Windows,10,1,Android,8.0,2
2998,EID_24566,Windows,8,6,iOS,13.0,2
2999,EID_4330,Windows,7,2,Android,7.0,0

In [ ]:
train

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
train2

,Employee_ID,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_18343,Windows,8,1,Android,9.0,0
1,EID_4861,Windows,7,2,Android,8.0,0
2,EID_16936,Windows,10,3,Android,10.0,0
3,EID_16384,Windows,10,1,Android,7.0,1
4,EID_10666,Windows,7,7,Android,10.0,4
...,...,...,...,...,...,...,...
6995,EID_13181,MacOS,NaN,2,NaN,NaN,1
6996,EID_8678,MacOS,High Sierra,1,iOS,13.0,0
6997,EID_17721,MacOS,Catalina,0,Android,8.0,0
6998,EID_21989,Windows,10,1,Android,10.0,0
6999,EID_7029,Windows,8,1,Android,9.0,0

In [3]:
datos2 = train.merge(train2, left_on='Employee_ID', right_on='Employee_ID', how = 'right')
datos2

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Attrition_rate,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_18343,M,21.0,4,Single,Franklin,Operarions,Directive,2.0,2,...,2,7,3,0.1993,Windows,8,1,Android,9.0,0
1,EID_4861,F,47.0,4,Single,Washington,R&D,Analytical,21.0,1,...,3,5,2,0.2269,Windows,7,2,Android,8.0,0
2,EID_16936,F,27.0,3,Married,Lebanon,Human Resource Management,Analytical,5.0,4,...,3,7,3,0.2213,Windows,10,3,Android,10.0,0
3,EID_16384,M,28.0,3,Married,Franklin,Accounting and Finance,Conceptual,4.0,2,...,3,6,2,0.0881,Windows,10,1,Android,7.0,1
4,EID_10666,M,35.0,1,Married,Springfield,IT,Analytical,11.0,2,...,2,6,3,0.1484,Windows,7,7,Android,10.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_13181,F,32.0,2,Married,Lebanon,Sales,Behavioral,9.0,3,...,2,8,3,0.0009,MacOS,NaN,2,NaN,NaN,1
6996,EID_8678,M,59.0,3,Married,Washington,Purchasing,Conceptual,28.0,2,...,1,7,3,0.2971,MacOS,High Sierra,1,iOS,13.0,0
6997,EID_17721,M,NaN,4,Married,Clinton,IT,Directive,6.0,3,...,2,8,5,0.1272,MacOS,Catalina,0,Android,8.0,0
6998,EID_21989,F,45.0,4,Married,Springfield,Logistics,Analytical,18.0,4,...,2,8,4,0.2350,Windows,10,1,Android,10.0,0
6999,EID_7029,F,47.0,4,Married,Clinton,IT,Directive,16.0,3,...,4,8,3,0.1409,Windows,8,1,Android,9.0,0

In [4]:
datos1 = test.merge(test2, left_on='Employee_ID', right_on='Employee_ID', how = 'right')
datos1

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR4,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_19108,M,19.0,3,Married,Franklin,Purchasing,Conceptual,0.0,0,...,NaN,2,6,4,Windows,10,2,Android,8.0,0
1,EID_13997,M,35.0,1,Married,Lebanon,IT,Behavioral,13.0,3,...,2.0,2,8,4,Windows,10,12,Android,10.0,1
2,EID_10789,F,38.0,4,Married,Springfield,IT,Directive,12.0,1,...,2.0,3,6,5,MacOS,Catalina,0,iOS,12.0,0
3,EID_1833,F,55.0,2,Married,Clinton,R&D,Behavioral,27.0,2,...,3.0,2,6,4,Windows,10,9,Android,7.0,0
4,EID_8825,F,48.0,2,Single,Franklin,Sales,Conceptual,25.0,1,...,2.0,3,8,3,Windows,8,3,Android,9.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_20453,M,22.0,1,Single,Springfield,Sales,Behavioral,3.0,3,...,NaN,1,5,3,Windows,10,4,Android,7.0,2
2996,EID_18205,F,22.0,1,Single,Lebanon,IT,Directive,3.0,3,...,1.0,3,7,3,Windows,8,8,Android,9.0,5
2997,EID_19849,F,35.0,3,Single,Franklin,Logistics,Behavioral,9.0,3,...,2.0,3,6,5,Windows,10,1,Android,8.0,2
2998,EID_24566,M,52.0,1,Married,Lebanon,R&D,Conceptual,14.0,2,...,2.0,4,5,3,Windows,8,6,iOS,13.0,2
2999,EID_4330,M,57.0,4,Married,Washington,Operarions,Directive,23.0,1,...,1.0,3,8,3,Windows,7,2,Android,7.0,0

In [5]:
datos=pd.concat([datos1,datos2], axis = 0)
datos

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets,Attrition_rate
0,EID_19108,M,19.0,3,Married,Franklin,Purchasing,Conceptual,0.0,0,...,2,6,4,Windows,10,2,Android,8.0,0,NaN
1,EID_13997,M,35.0,1,Married,Lebanon,IT,Behavioral,13.0,3,...,2,8,4,Windows,10,12,Android,10.0,1,NaN
2,EID_10789,F,38.0,4,Married,Springfield,IT,Directive,12.0,1,...,3,6,5,MacOS,Catalina,0,iOS,12.0,0,NaN
3,EID_1833,F,55.0,2,Married,Clinton,R&D,Behavioral,27.0,2,...,2,6,4,Windows,10,9,Android,7.0,0,NaN
4,EID_8825,F,48.0,2,Single,Franklin,Sales,Conceptual,25.0,1,...,3,8,3,Windows,8,3,Android,9.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_13181,F,32.0,2,Married,Lebanon,Sales,Behavioral,9.0,3,...,2,8,3,MacOS,NaN,2,NaN,NaN,1,0.0009
6996,EID_8678,M,59.0,3,Married,Washington,Purchasing,Conceptual,28.0,2,...,1,7,3,MacOS,High Sierra,1,iOS,13.0,0,0.2971
6997,EID_17721,M,NaN,4,Married,Clinton,IT,Directive,6.0,3,...,2,8,5,MacOS,Catalina,0,Android,8.0,0,0.1272
6998,EID_21989,F,45.0,4,Married,Springfield,Logistics,Analytical,18.0,4,...,2,8,4,Windows,10,1,Android,10.0,0,0.2350
6999,EID_7029,F,47.0,4,Married,Clinton,IT,Directive,16.0,3,...,4,8,3,Windows,8,1,Android,9.0,0,0.1409

In [6]:
datos.rename(columns={' Computer_OS':'Computer_OS', ' Mobile_OS':'Mobile_OS', ' Mobile_tickets':'Mobile_tickets', ' Computer_tickets':'Computer_tickets'}, inplace=True)

In [7]:
#datos = datos.replace({'Computer_OS':'No registradoa'},"No registrado")
#datos = datos.replace({'Mobile_OS':np.nan},"No registrado")
datos["Computer_OS"] = datos["Computer_OS"].replace(np.nan, 'No registrado')
datos["Mobile_OS"] = datos["Mobile_OS"].replace(np.nan, 'No registrado')
datos.to_string()

Output hidden; open in https://colab.research.google.com to view.

In [28]:
print(datos.columns.tolist())

['Employee_ID', 'Gender', 'Age', 'Education_Level', 'Relationship_Status', 'Hometown', 'Unit', 'Decision_skill_possess', 'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Computer_OS', ' Computer_OS_version', 'Computer_tickets', 'Mobile_OS', ' Mobile_OS_version', 'Mobile_tickets', 'Attrition_rate']

### El porcentaje de personas que usan Windows / Mac / Linux / no registrado como su sistema operativo en su computadora

In [34]:
freq1 = datos['Computer_OS'].value_counts() 
total1 = datos['Computer_OS'].count()
resul = (freq1/total1)*100
resul

Windows          77.28
MacOS            16.34
Linux             4.80
No registrado     1.58
Name: Computer_OS, dtype: float64

### El porcentaje de personas que usan iOS / Android / No registrado como su sistema operativo en su dispositivo móvil

In [35]:
freq2 = datos['Mobile_OS'].value_counts() 
total2 = datos['Mobile_OS'].count()
resul2 = (freq2/total2)*100
resul2
#datos['Computer_OS'] = (datos['Computer_OS'] / datos['Computer_OS'].sum()) * 100

Android          76.59
iOS              20.54
No registrado     2.87
Name: Mobile_OS, dtype: float64

### La edad promedio de la gente que utiliza cada sistema operativo de escritorio

In [36]:
freq = datos.groupby(['Computer_OS']).mean() 
resul3 = freq['Age']
resul3

Computer_OS
Linux            40.451902
MacOS            40.396251
No registrado    40.523490
Windows          39.457441
Name: Age, dtype: float64

### El nivel educativo promedio de la gente que utiliza cada sistema operativo de escritorio

In [37]:
freq = datos.groupby(['Computer_OS']).mean() 
resul4 = freq['Education_Level']
resul4

Computer_OS
Linux            3.243750
MacOS            3.168299
No registrado    3.177215
Windows          3.203675
Name: Education_Level, dtype: float64

### El número total de tickets generados por la gente con cada sistema operativo de escritorio

In [41]:
freq = datos.groupby(['Computer_OS']).sum() 
resul5 =freq['Computer_tickets']
resul5

Computer_OS
Linux              254
MacOS             1880
No registrado      541
Windows          21169
Name: Computer_tickets, dtype: int64

In [39]:
#freq = datos.groupby(['Computer_OS']).count() 
#resul6 =freq['Computer_tickets']
#resul6

Computer_OS
Linux             480
MacOS            1634
No registrado     158
Windows          7728
Name: Computer_tickets, dtype: int64

In [40]:
with pd.ExcelWriter('/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/reto.xlsx') as writer:
  resul.to_excel(writer, sheet_name='A')
  resul2.to_excel(writer, sheet_name='B')
  resul3.to_excel(writer, sheet_name='C')
  resul4.to_excel(writer, sheet_name='D')
  resul5.to_excel(writer, sheet_name='E')
  #resul6.to_excel(writer, sheet_name='F')

In [14]:
#datos.to_excel("/content/drive/MyDrive/Colab Notebooks/Modulo 3/Reto/reto.xlsx",sheet_name="Resul1",engine="xlsxwriter")